@media (min-width: 750px) {
  .button,
  button,
  input[type="submit"],
  input[type="reset"],
  input[type="button"] {
    height: 76px;
    padding: 0 60px;
    color: #555;
    font-size: 22px;
    line-height: 76px;
    letter-spacing: .2rem;
  }

  input[type="email"],
  input[type="number"],
  input[type="search"],
  input[type="text"],
  input[type="tel"],
  input[type="url"],
  input[type="password"],
  textarea,
  select {
    height: 76px;
    font-size: 22px;
    font-weight: bold;
    text-transform: uppercase;
    padding: 12px 20px;
  }
}
